@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
}

:root {
  --primary: #176b87;
  --white: #eeeeee;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #001c30;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container button {
  position: relative;
  gap: 15px;
  padding: 12px 25px;
  outline: none;
  border: 3px solid var(--primary);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  appearance: none;
  color: var(--primary);
  background-color: var(--white);
  box-shadow: 4px 4px 0 0 var(--primary);
  transition: transform 0.8s linear, color 0.1s linear;
}

.container button:active {
  top: 4px;
  left: 4px;
  background-color: var(--primary);
  color: var(--white);
  box-shadow: none;
}
